SELECT 
    e.Position,
    e.FirstName,
    e.LastName,
    m.Position AS ReportsToPosition
FROM 
    Employees e
JOIN 
    Employees m ON e.ReportsTo = m.EmployeeID

ORDER BY 
    m.Position          -- Order by the Position of the person they report to
    e.Position ;         -- Then by the individual's Position in ascending order


SELECT emp.Position AS Position,
 emp.FirstName AS FirstName,
 emp.LastName AS LastName,
 mgr.Position AS ReportsToPosition
FROM maintable_A1GUR emp
JOIN maintable_A1GUR mgr
ON emp.ReportsTo = mgr.EmployeeID
WHERE emp.ReportsTo IS NOT NULL
ORDER BY mgr.Position ASC,
         emp.Position ASC;
